* {
  padding: 0;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  box-sizing: border-box;
  font-size: large;
  font-weight: 500;
}

/* respoinsive code */
/* =========================
   RESPONSIVE DESIGN
   ========================= */

/* Tablets (max-width: 1024px) */
@media (max-width: 1024px) {
  .nmenu {
    width: 40%;
    margin-left: 0;
  }

  .thirdpart {
    width: 30%;
  }

  .i12 img,
  .i34 img {
    height: 420px;
  }

  .shop-section {
    flex-wrap: wrap;
  }

  .img-box {
    width: 45%;
  }

  .sport-lineup {
    flex-wrap: wrap;
  }

  .pht1 {
    width: 45%;
  }

  .headline p {
    font-size: 3rem;
  }
}

/* Mobile Devices (max-width: 768px) */
@media (max-width: 768px) {
  /* Top bar */
  .logo-menu {
    flex-direction: column;
    height: auto;
    align-items: center;
  }

  .menu {
    width: 100%;
    margin-bottom: 10px;
  }

  /* Main navbar */
  .logo2-menu {
    flex-direction: column;
    height: auto;
    padding-bottom: 10px;
  }

  .nike-logo {
    width: 100%;
    text-align: center;
  }

  .nike-logo img {
    margin: 10px auto;
  }

  .nmenu {
    width: 100%;
    margin: 0;
  }

  .nmenu ul {
    flex-wrap: wrap;
    gap: 10px;
  }

  .thirdpart {
    width: 100%;
    justify-content: center;
  }

  /* Slider */
  .hero-pht iframe {
    height: 400px;
  }

  /* Four image section */
  .i12,
  .i34 {
    flex-direction: column;
  }

  .i12 img,
  .i34 img {
    width: 100%;
    height: auto;
  }

  .text-content,
  .text-content2,
  .text-content3,
  .text-content4 {
    position: static;
    color: black;
    margin: 15px;
  }

  /* Latest section */
  .lakers-shirt img {
    width: 100%;
  }

  .headline p {
    font-size: 2.5rem;
  }

  /* Shop section */
  .img-box {
    width: 90%;
  }

  .abc {
    flex-direction: column;
  }

  .abc p {
    width: 100%;
  }

  /* Sport section */
  .sport-lineup {
    flex-direction: column;
  }

  .pht1 {
    width: 90%;
  }

  /* Shoes */
  .shoes {
    flex-wrap: wrap;
    justify-content: center;
  }

  .shoes img {
    width: 90%;
    margin-bottom: 15px;
  }

  /* Footer */
  .footer-panel {
    flex-direction: column;
    gap: 30px;
  }
}

/* Small Mobile (max-width: 480px) */
@media (max-width: 480px) {
  .headline p {
    font-size: 2rem;
  }

  .menu3 h3 {
    font-size: 1rem;
  }

  .menu3 p a {
    font-size: 0.9rem;
  }

  .thirdpart .inputtag {
    width: 140px;
  }
}

/* ======================================
=================
=====================-======================== */
.container {
  width: 100%;
  min-height: 500px;
  border: 1px solid #000;
}
.logo-menu {
  width: 100%;
  height: 36px;
  background-color: rgb(239, 233, 233);
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 27px;
  height: 30px;
  margin-left: 40px;
}
.logo img {
  width: 100%;
  margin-top: 2px;
}

.menu {
  width: 300px;
  height: 27px;
  margin-top: 10px;
}
.menu ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}
.menu ul li a {
  list-style-type: none;
  text-decoration: none;
  color: black;
}

.menu ul li a:hover{
  color: rgb(115, 112, 112);
  text-decoration: underline;
}

/* second menu */

.logo2-menu {
  width: 100%;
  height: 65px;
  /* border: 1px solid #000; */
  background-color: white;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1000;          /* VERY IMPORTANT */
  background: #fff;   
}

.nike-logo {
  width: 13%;
  height: 40px;
}
.nike-logo img {
  margin-top: 12px;
  margin-left: 23px;
  width: 40%;
}

.nmenu {
  width: 27%;
  height: 45px;

  font-size: 1.2rem;
  margin-top: 20px;
  margin-left: 62px;
  /* border: 1px solid #000; */
  font-weight: 700;
}
.nmenu ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}
.nmenu ul li a {
  list-style-type: none;
  text-decoration: none;
  color: black;
}
.nmenu ul li a:hover {
  text-decoration: underline;
}

.thirdpart {
  width: 18%;
  /* border: 1px solid #000; */
}
.thirdpart .inputtag {
  border-radius: 50px;
  /* border: 1px solid #000; */
  width: 160px;
  margin-top: 12px;
  color: black;
  font-size: 1.2rem;
  padding: 12px;
  height: 40px;
  border: none;
  background-color: rgb(238, 233, 233);
}
.thirdpart {
  display: flex;
  justify-content: space-around;
}
.thirdpart .icon {
  display: flex;
  margin-top: 17px;
  margin-right: 12px;
  justify-content: space-around;
}
.icon img {
  width: 100%;
  height: 30px;
}
.img2 {
  margin-left: 33px;
}
/* menu 3 */

.menu3 {
  background-color: rgb(239, 233, 233);
  height: 65px;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 7px;
}
.menu3 a {
  color: black;
}

/* red photo */

.red-photo {
  width: 100%;

}
.red-photo img {
  width: 100%;

}

/* four imagae section */

.four-img {
  width: 100%;
  min-height: 700px;

  margin-top: 100px;
}
.four-img p {
  font-size: 1.9rem;
  padding-left: 48px;
  padding-top: 23px;
}
.i12 {
  width: 100%;
  min-height: 450px;
  margin-top: 30px;

  display: flex;

  position: relative;
}
.i12 img {
  width: 50%;
  height: 550px;
}

.text-content {
  position: absolute;
}
.text-content {
  margin-top: 390px;
  margin-left: 20px;
}
.text-content h1 {
  color: white;
  font-size: 1.8rem;
  margin-top: 9px;
}
.text-content h2 {
  color: white;
  font-size: 1.3rem;
  margin-top: 9px;
}
.text-content button {
  width: 70px;
  height: 40px;
  margin-top: 9px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.text-content2 {
  position: absolute;
}
.text-content2 {
  margin-top: 390px;
  margin-left: 53%;
}
.text-content2 h1 {
  color: white;
  font-size: 1.8rem;
  margin-top: 9px;
}
.text-content2 h2 {
  color: white;
  font-size: 1.3rem;
  margin-top: 9px;
}
.text-content2 button {
  width: 70px;
  height: 40px;
  margin-top: 9px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

/* 3 and 4 image */

.i34 {
  width: 100%;
  min-height: 450px;

  display: flex;

  position: relative;
}
.i34 img {
  width: 50%;
  height: 550px;
}

.text-content3 {
  position: absolute;
}
.text-content3 {
  margin-top: 390px;
  margin-left: 20px;
}
.text-content3 h1 {
  color: white;
  font-size: 1.8rem;
  margin-top: 9px;
}
.text-content3 h2 {
  color: white;
  font-size: 1.3rem;
  margin-top: 9px;
}
.text-content3 button {
  width: 100px;
  height: 40px;
  margin-top: 9px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
.text-content4 {
  position: absolute;
}
.text-content4 {
  margin-top: 390px;
  margin-left: 53%;
}
.text-content4 h1 {
  color: white;
  font-size: 1.8rem;
  margin-top: 9px;
}
.text-content4 h2 {
  color: white;
  font-size: 1.3rem;
  margin-top: 9px;
}
.text-content4 button {
  width: 70px;
  height: 40px;
  margin-top: 9px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.text-content button,
.text-content2 button,
.text-content3 button,
.text-content4 button {
  transition: transform 0.3s ease, background-color 0.3s ease,
    box-shadow 0.3s ease;
}

.text-content button:hover,
.text-content2 button:hover,
.text-content3 button:hover,
.text-content4 button:hover {
  background-color: rgb(224, 217, 217);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  transform: scale(1.2);
}

/* next section */

.thelatest p {
  font-size: 1.9rem;
  padding-left: 48px;
  padding-top: 23px;
  margin-bottom: 23px;
  margin-top: 70px;
  /* border: 1px solid #000; */
}

.lakers-shirt {
  display: flex;
  width: 100%; /* allows side-by-side */
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
}

.lakers {
  width: 100%;
  display: flex;
  justify-content: center;
}

.lakers img {
  width: 95%;

  height: auto;
}

/* Headline  */

.headline {
  width: 100%;
  min-height: 100px;
  text-align: center;
  /* border: 1px solid #000; */
}
.headline p {
  font-size: 4.4rem;
  margin-top: 19px;
  margin-bottom: 0;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
}
.headline BUTTON {
  width: 80px;
  height: 45px;
  border-radius: 30px;
  margin-top: 8px;
  font-size: 21px;
  background-color: black;
  color: white;
  border: none;
}

/* next section */

.line {
  width: 100%;
  height: 30px;
  margin-top: 70px;
  /* border: 1px solid #000; */
}
.line p {
  font-size: 1.9rem;
  padding-left: 48px;
}

.shop-section {
  width: 100%;
  margin-top: 20px;
  min-height: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.shop-section img {
  width: 100%;
  height: 450px;
  border-radius: 10px;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.shop-section div {
  overflow: hidden;
}

.img-box {
  width: 25%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.9) 0px 8px 16px -8px;
  height: 450px;
  border-radius: 12px;
  background-color: rgb(209, 197, 197);
}
.img-box img:hover {
  transform: scale(0.9);
}

.abc {
  width: 100%;

  min-height: 100px;
  display: flex;
  justify-content: center;
}
.abc p {
  width: 33%;
  margin-top: 15px;
  font-size: 1.1rem;
  text-align: center;
  /* border: 1px solid #000; */
}

/* shop by sport  */
.sport {
  width: 100%;
  min-height: 100px;
  margin-top: 70px;
}
.sport p {
  margin-left: 12px;
  /* border: 1px solid #000; */
  font-size: 1.9rem;
  padding-left: 48px;
}

.sport-lineup {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  margin-top: 32px;
}

.pht1 {
  width: 22%;
  height: 400px;
  border-radius: 20px;
  position: relative;
}
.pht1 img:hover {
  transform: scale(1.08);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.text1 {
  position: absolute;
  bottom: 3px;
  left: 39px;
  color: white;
  font-size: 0.4rem;
}

.text2 {
  position: absolute;
  bottom: 3px;
  left: 79px;
  color: white;
  font-size: 1.9rem;
}

.text3 {
  position: absolute;
  bottom: 3px;
  left: 69px;
  color: white;
  font-size: 1.9rem;
}

.text4 {
  position: absolute;
  font-size: 1.8rem;
  color: white;
  bottom: 3px;
  left: 83px;
}
.pht1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  transition: 0.4s ease;
}

.text1 p:hover,
.text2 p:hover,
.text3 p:hover,
.text4 p:hover {
  text-decoration: underline;
  cursor: pointer;
  transition: 0.8;
}

.sline {
  width: 100%;
  margin-top: 92px;
  min-height: 50px;
}
.sline p {
  color: black;
  font-size: 1.8rem;

  margin-top: 32px;
  margin-left: 42px;
}

.shoes {
  width: 100%;
  margin-top: 12px;
  min-height: 100px;
  display: flex;
}
.shoes img {
  width: 96%;
  cursor: pointer;
}
.shoes img {
  transition: transform 0.6s ease;
}

.shoes img:hover {
  transform: scale(1.08);
}

.grey-line hr {
  width: 100%;
  margin-top: 115px;
  color: rgb(232, 222, 222);
  font-size: 20px;
}

footer {
  margin-top: 43px;
}
.footer-panel {
  display: flex;
  gap: 90px;
}
.footer-panel ul h4 {
  margin-left: 60px;
  margin-bottom: 25px;
}
.footer-panel ul a {
  display: block;
  margin-left: 60px;

  padding: 5px;
  cursor: pointer;
  color: #707072;
}

.footer-panel ul a:hover {
  text-decoration: underline;
}
.copy {
  width: 100%;
  margin-top: 43px;
}
.copy p {
  color: #707072;
  text-align: center;
}

.developer {
  width: 100%;
  margin-top: 43px;
}
.developer p {
  text-align: center;
  padding: 12px;
  color: white;

  background-color: grey;
}
